///////////////////
// Media queries //
///////////////////

@desktop:                   ~"only screen and (min-device-width: 1025px)";

// All tablet sizes
@tablets:                   @tablet,
                            @tabletMini;
@tabletsLandscape:          @tabletLandscape,
                            @tabletMiniLandscape;
@tabletsPortrait:           @tabletPortrait,
                            @tabletMiniPortrait;

// Normal size tablet
@tablet:                    ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
@tabletLandscape:           ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
@tabletPortrait:            ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";

// Small size tablet
@tabletMini:                ~"only screen and (min-device-width : 481px) and (max-device-width : 767px)";
@tabletMiniLandscape:       ~"only screen and (min-device-width : 481px) and (max-device-width : 767px) and (orientation : landscape)";
@tabletMiniPortrait:        ~"only screen and (min-device-width : 481px) and (max-device-width : 767px) and (orientation : portrait)";

//Mobile size
@mobile:                    ~"only screen and (min-device-width : 320px) and (max-device-width : 480px)";
@mobileLandscape:           ~"only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)";
@mobilePortrait:            ~"only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait)";

// High density query with retina alias
@highdensity:               ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
                            ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
                            ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
                            ~"only screen and (min-device-pixel-ratio: 1.5)";
@retina:                    @highdensity;

/////////////////
// Base colors //
/////////////////

@black:                     #000;
@grayDarker:                #222;
@grayDark:                  #333;
@gray:                      #555;
@grayLight:                 #999;
@grayLighter:               #eee;
@white:                     #fff;

//////////////////
// Acent colors //
//////////////////

@blue:                      #049cdb;
@blueDark:                  #0064cd;
@green:                     #46a546;
@red:                       #9d261d;
@yellow:                    #ffc40d;
@orange:                    #f89406;
@pink:                      #c3325f;
@purple:                    #7a43b6;


/////////////////////
// Alert varuables //
/////////////////////

@alertLineHeight:           @baseLineHeight;
@alertTextShadow:           0 1px 0 rgba(255,255,255,.5)!important;
@alertPadding:              8px 35px 8px 14px;
@alertBorderRadius:         @baseBorderRadius;

@alertHeaderMargin:         0;

@alertCloseTop:             -2px;
@alertCloseRight:           -21px;

@warningText:               #c09853!important;
@warningBackground:         #fcf8e3!important;
@warningBorder:             1px solid darken(spin(@warningBackground, -10), 3%)!important;

@errorText:                 #b94a48!important;
@errorBackground:           #f2dede!important;
@errorBorder:               1px solid darken(spin(@errorBackground, -10), 3%)!important;

@successText:               #468847!important;
@successBackground:         #dff0d8!important;
@successBorder:             1px solid darken(spin(@successBackground, -10), 5%)!important;

@infoText:                  #3a87ad!important;
@infoBackground:            #d9edf7!important;
@infoBorder:                1px solid darken(spin(@infoBackground, -10), 7%)!important;

////////////////////////////
// Code and Pre variables //
////////////////////////////

// Code variables
@codeFontSize:              @fontSize - 0.2;
@codeTextColor:             #d14;
@codeBorder:                1px solid @grayLight;
@codePadding:               2px 4px;
@codeBorderRadius:          @baseBorderRadius;

// Pre variables
@preBackground:             @grayLighter;
@preFontSize:               @fontSize - 0.1;
@preLineHeight:             @lineHeight;
@preTextColor:              @grayDark;
@preBorder:                 1px solid rgba(0,0,0,.15);
@preBorderIE:               1px solid @grayLight;
@prePadding:                (@baseLineHeight - 1) / 2;
@preMargin:                 0 0 @baseLineHeight / 2;
@prePrettyMarginBottom:     @baseLineHeight;
@preBorderRadius:           @baseBorderRadius;

// Pre > code variables
@preCodeBackground:         transparent;
@preCodeTextColor:          inherit;
@preCodeBorder:             0;
@preCodePadding:            0;

// Pre.scrollable variiables
@preScrollableHeight:       340px;

//////////////////////
// Button variables //
//////////////////////

@buttonDisplay:             inline-block;
@buttonHeight:              unit((@buttonLineHeight * 10), ~"px");
@buttonCursor:              pointer;

@buttonFontSize:            @fontSize;
@buttonLineHeight:          @lineHeight;
@buttonTextAlign:           center;
@buttonVerticalAlign:       middle;
@buttonTextDecoration:      none;
@buttonTextTransform:       none;

@buttonBackground:          @black;
@buttonGradientStart:       @buttonBackground;
@buttonGradientEnd:         lighten(@buttonBackground, 15%);
@buttonTextColor:           @grayLighter;
@buttonBorderColor:         @black @black lighten(@black, 10%) @black;
@buttonBorderStyle:                 solid;
@buttonBorderWidth:                 1px;

@buttonPadding:             4px 12px;
@buttonMargin:              0;
@buttonBorderRadius:        @baseBorderRadius;
@buttonBoxShadow:           ~"inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.2)";

@buttonHoverBackground:     @buttonBackground;
@buttonHoverGradientStart:  lighten(@buttonBackground, 15%);
@buttonHoverGradientEnd:    @buttonBackground;
@buttonHoverTextColor:      darken(@buttonTextColor, 10%);
@buttonHoverBoxShadow:      ~"inset 0 -1px 0 rgba(255,255,255,.3)";

@buttonActiveBoxShadow:     ~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";

// Primary button styling

@buttonPrimaryHeight:              unit((@buttonPrimaryLineHeight * 10), ~"px");

@buttonPrimaryFontSize:            @buttonFontSize;
@buttonPrimaryLineHeight:          @buttonLineHeight;
@buttonPrimaryTextDecoration:      none;
@buttonPrimaryTextTransform:       none;

@buttonPrimaryBackground:          @primaryColor;
@buttonPrimaryGradientStart:       @buttonPrimaryBackground;
@buttonPrimaryGradientEnd:         lighten(@buttonPrimaryBackground, 15%);
@buttonPrimaryTextColor:           @grayLighter;
@buttonPrimaryBorderColor:         @black @black lighten(@black, 10%) @black;
@buttonPrimaryBorderStyle:         solid;
@buttonPrimaryBorderWidth:         1px;

@buttonPrimaryPadding:             6px 16px;
@buttonPrimaryMargin:              @buttonMargin;
@buttonPrimaryBorderRadius:        @baseBorderRadius;
@buttonPrimaryBoxShadow:           ~"inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.2)";

@buttonPrimaryHoverBackground:     @buttonPrimaryBackground;
@buttonPrimaryHoverGradientStart:  lighten(@buttonPrimaryBackground, 15%);
@buttonPrimaryHoverGradientEnd:    @buttonPrimaryBackground;
@buttonPrimaryHoverTextColor:      darken(@buttonPrimaryTextColor, 10%);
@buttonPrimaryHoverBoxShadow:      ~"inset 0 -1px 0 rgba(255,255,255,.3)";

@buttonPrimaryActiveBoxShadow:     ~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";

// Secondary button styling

@buttonSecondaryHeight:              unit((@buttonSecondaryLineHeight * 10), ~"px");

@buttonSecondaryFontSize:            @buttonFontSize;
@buttonSecondaryLineHeight:          @buttonLineHeight;
@buttonSecondaryTextDecoration:      none;
@buttonSecondaryTextTransform:       none;

@buttonSecondaryBackground:          @gray;
@buttonSecondaryGradientStart:       @buttonSecondaryBackground;
@buttonSecondaryGradientEnd:         lighten(@buttonSecondaryBackground, 15%);
@buttonSecondaryTextColor:           @white;
@buttonSecondaryBorderColor:         @black @black lighten(@black, 10%) @black;
@buttonSecondaryBorderStyle:         solid;
@buttonSecondaryBorderWidth:         1px;

@buttonSecondaryPadding:             @buttonPadding;
@buttonSecondaryMargin:              @buttonMargin;
@buttonSecondaryBorderRadius:        @baseBorderRadius;
@buttonSecondaryBoxShadow:           ~"inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.2)";

@buttonSecondaryHoverBackground:     @buttonSecondaryBackground;
@buttonSecondaryHoverGradientStart:  lighten(@buttonSecondaryBackground, 15%);
@buttonSecondaryHoverGradientEnd:    @buttonSecondaryBackground;
@buttonSecondaryHoverTextColor:      darken(@buttonSecondaryTextColor, 10%);
@buttonSecondaryHoverBoxShadow:      ~"inset 0 -1px 0 rgba(255,255,255,.3)";

@buttonSecondaryActiveBoxShadow:     ~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";

/////////////////////
// Input variables //
/////////////////////

@formFontFamily:            @fontFamily;
@formMargin:                0 0 @baseLineHeight;

@labelMarginBottom:         5px;

@inputDisplay:              inline-block;
@inputHeight:               unit((((@inputLineHeight * 10) - (@inputBorderWidth * 2)) + (@inputPaddingTop + @inputPaddingBottom)), ~"px");
@inputBackground:           @white;
@inputTextColor:            @gray;
@inputFontSize:             @fontSize;
@inputLineHeight:           @lineHeight;
@inputPaddingTop:           4px;
@inputPaddingRight:         6px;
@inputPaddingBottom:        4px;
@inputPaddingLeft:          6px;
@inputBorderColor:          @grayLighter;
@inputBorderWidth:          1px;
@inputBorderRadius:         @baseBorderRadius;
@inputBoxShadow:            inset 0 1px 1px rgba(0,0,0,.075);
@inputTransition:           ~"border linear .2s, box-shadow linear .2s";

@inputFocusBorderColor:     @blue;
@inputFocusBoxShadow1:      fadeout(@black, 75%);
@inputFocusBoxShadow2:      fadeout(@blue, 40%);
@inputFocusBoxShadow:       ~"inset 0 1px 1px @{inputFocusBoxShadow1}, 0 0 8px @{inputFocusBoxShadow2}";

@inputDisabledBackground:   darken(@inputBackground, 5%);

////////////////////
// Base Structure //
////////////////////

@pageWidth:                 1000px;
@pageMaxWidth:              96%;
@baseBorderRadius:          5px;

/////////////////
// Layout grid //
/////////////////

@gridColumns:               12;
@gridPadding:               0;
@gridGutter:                4%;

////////////////////
// Primary Colors //
////////////////////

@backgroundColor:           @white;
@textColor:                 @grayDark;

@linkColor:                 @primaryColor;
@linkTextDecoration:        underline;

@linkHoverColor:            darken(@primaryColor, 15%);

@primaryColor:              @grayLight;
@secondaryColor:            @grayDarker;
@tertiaryColor:             @gray;

////////////////
// Typography //
////////////////

@fontFamily:                'Helvetica';

@fontSize:                  1.3;
@baseFontSize:              unit((@fontSize * 10), px);

@lineHeight:                1.8;
@baseLineHeight:            unit((@lineHeight * 10), px);
